body{
	background-color: pink;
	text-align:center;
}
tr *{
	margin: 20px;
	border: 1px solid black;
}
a{
	display:block;
}
table{
	display:inline-block;
}

.com{
	margin: 0 auto;
	border: 1px solid black;
	margin-top :10px;
	width: 700px;
}

.title{
	font-size:1.2em;
	font-weight: bold;
}

.content{
	text-align:justify;
}

.couv{
	width:200px;
}