{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de l'album</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Céer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('_index') }}">Retour à la liste
    </ul>
{% endblock %}
